header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.caxa1{
    display: flex;
}
.lista-menu{
    display: none;
}
.check:checked ~ .lista-menu{
    display: block;
}
.perfil{
    display: flex;
}