header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.caxa1{
    display: flex;
}
.lista-menu{
    display: none;
}
.check:checked ~ .lista-menu{
    display: block;
}
.perfil{
    display: flex;
}
.espaco{
    padding: 0 20px;
}
.lado{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(#1D592E, #BEE1C8);
}
.gridi{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.tamanho{
    width: 60%;
}